mixin header(activeLink)

    - var links = [{href: '/index.html', name: 'Главная'}, {href: '/colors.html', name: 'Цвета'}, {href: '/fonts.html', name: 'Шрифты'}, {href: '/textfields.html', name: 'Поля ввода'},];

    +b.header
        .container
            +e.links
                each link in links
                    +e(class=('link' + (link.name == activeLink? ' _active': '')), href=link.href)=link.name
