include ./expandable.mixin.pug

+section("Разворачивающиеся списки", 8)
  .row
    .col-12.col-lg-4
      .p-1
        +expandable("Закрытый")

    .col-12.col-lg-4
      .p-1
        .expandable_open
          +expandable("Открытый")
            +body
    .col-12.col-lg-4
      .p-1
        #life-expandable
          +expandable("Живой")
            +body