mixin body
  +b.list
    +e.item
      +b.checkbox
        +e.control
          +e.mark
        +e.label Завтрак
    +e.item
      +b.checkbox._true
        +e.control
          +e.mark
        +e.label Письменный стол
    +e.item
      +b.checkbox._true
        +e.control
          +e.mark
        +e.label Стул для кормления
    +e.item
      +b.checkbox._true
        +e.control
          +e.mark
        +e.label Кроватка
    +e.item
      +b.checkbox
        +e.control
          +e.mark
        +e.label Телевизор
    +e.item
      +b.checkbox
        +e.control
          +e.mark
        +e.label Шампунь