include ../../global/template/mixins
+layout('Другие элементы форм')
    .row
        .col-12.col-lg-4
            .p-3
                .h3 Чекбоксы
                .p-1
                    +b.checkbox
                        +e.control
                            +e.mark
                        +e.label Можно курить
                .p-1
                    +b.checkbox._true
                        +e.control
                            +e.mark
                        +e.label Можно с питомцами
                .p-1
                    +b.checkbox._true
                        +e.control
                            +e.mark
                        +e.label Можно пригласить гостей (до 10 человек) с ночёвкой
                #checkbox-example Живые
                    .p-1
                        +b.checkbox
                            +e.control
                                +e.mark
                            +e.label Можно курить
                    .p-1
                        +b.checkbox._true
                            +e.control
                                +e.mark
                            +e.label Можно с питомцами
                    .p-1
                        +b.checkbox._true
                            +e.control
                                +e.mark
                            +e.label Можно пригласить гостей (до 10 человек) с ночёвкой
                    .active-checkboxes Активные: 0
        .col-12.col-lg-3
            .p-3
                .h3 Радио кнопки
                div Не живые
                .row.row_max-width
                    .col
                        .p-3
                            +b.radio._true
                                +e.control
                                    +e.mark
                                +e.label Мужчина
                    .col
                        .p-3
                            +b.radio
                                +e.control
                                    +e.mark
                                +e.label Женщина
                div Живые
                .row.row_max-width#life-radio-group
                    .col
                        .p-3
                            +b.radio(name='man')
                                +e.control
                                    +e.mark
                                +e.label Мужчина
                    .col
                        .p-3
                            +b.radio(name='woman')
                                +e.control
                                    +e.mark
                                +e.label Женщина
        .col-12.col-lg-3
            .p-3
                .h3 Переключатели
                +b.toggle._true
                    +e.control
                        +e.mark
                    +e.label Включенный
                +b.toggle
                    +e.control
                        +e.mark
                    +e.label Выключенный
                +b.toggle#toggle-example
                    +e.control
                        +e.mark
                    +e.label Живой
        .col-12.col-lg-3
            .p-3
                .h3 Лайки
                .p-1
                    +b.like._true
                        +e.mark
                            +e.mark-true
                            +e.mark-false
                        +e.number 10
                .p-1
                    +b.like
                        +e.mark
                            +e.mark-true
                            +e.mark-false
                        +e.number 10
                .h5 Живой
                .p-1
                    +b.like#life-like-example
                        +e.mark
                            +e.mark-true
                            +e.mark-false
                        +e.number 10
        .col-12.col-lg-3
            .p-3
                .h3 Рейтинги
                .h5 Рейтинг 0
                .p
                    +b.rating
                        +e.item
                        +e.item
                        +e.item
                        +e.item
                        +e.item
                .h5 Рейтинг 5
                .p
                    +b.rating
                        +e.item._true
                        +e.item._true
                        +e.item._true
                        +e.item._true
                        +e.item._true
                .h5 При наведении
                .p
                    +b.rating
                        +e.item._hover
                        +e.item._hover
                        +e.item._hover
                        +e.item._hover
                        +e.item._hover
                .h5 Живой
                .p
                    +b.rating#life-example-rating
                        +e.item
                        +e.item
                        +e.item
                        +e.item
                        +e.item
    