include ../../global/template/mixins
+layout('Другие элементы форм')
    .row
        include ./sections/checkboxes
        include ./sections/radio
        include ./sections/togglers
        include ./sections/likes
        include ./sections/rating
        include ./sections/sliders
    