.checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;

    cursor: pointer;

    &__control {
        background: white;
        width: 20px;
        height: 20px;

        border: 1px solid $dark25;
        box-sizing: border-box;
        border-radius: 4px;

        display: flex;
        justify-content: center;
        align-items: center;
        
        transition: .4s;
    }

    &_true &__control {
        border-color: $primary;
    }

    &__mark {
        width: 10px;
        height: 12px;
        background-image: url("./Vector.png");
        background-size: 100%;
        opacity: 0;
        transition: .4s;
    }
    &_true &__mark {
        opacity: 1;
    }

    &__label {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        
        margin-left: 5px;

        color: $dark50;
        width: fit-content;
    }
}