.toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s;

    &__control {
        width: 40px;
        height: 20px;
        border: 1px solid $dark25;
        box-sizing: border-box;
        border-radius: 10px;
        margin-right: 10px;
        padding: 3px;
        transition: .3s;
    }

    &__mark {
        width: 12px;
        height: 12px;
        
        box-sizing: border-box;
        border-radius: 50%;
        background: $purple-gradient;

        transition: .3s;
        opacity: .5;
    }

    &_true &__mark {
        margin-left: 20px;
        opacity: 1;
    }

    &_true &__control {
        border: 1px solid $primary;
    }
}