.textfield {
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5px;
    }

    &__label {
        @include text_h3;
    }

    &__hint {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;

        text-align: right;
        text-transform: uppercase;
    }

    &__control {
        display: grid;
        grid-template-columns: 1fr max-content;
    }

    &__input {
        grid-row: 1/2;
        grid-column: 1/3;
        padding: 12px 14px !important;
        width: 100%;

        border: 1px solid $dark25;
        box-sizing: border-box;
        border-radius: 4px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;

        color: rgba(31, 32, 65, 0.75);
    }

    &_focused &__input, &__input:focus, &:hover &__input {
        border-color: $dark50;
        outline: none;
    }

    &__btn {
        grid-row: 1/2;
        grid-column: 2/3;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}