+section("Чекбоксы")
    .p-1
        +b.checkbox
            +e.control
                +e.mark
            +e.label Можно курить
    .p-1
        +b.checkbox._true
            +e.control
                +e.mark
            +e.label Можно с питомцами
    .p-1
        +b.checkbox._true
            +e.control
                +e.mark
            +e.label Можно пригласить гостей (до 10 человек) с ночёвкой

    #checkbox-example Живые
        .p-1
            +b.checkbox
                +e.control
                    +e.mark
                +e.label Можно курить
        .p-1
            +b.checkbox._true
                +e.control
                    +e.mark
                +e.label Можно с питомцами
        .p-1
            +b.checkbox._true
                +e.control
                    +e.mark
                +e.label Можно пригласить гостей (до 10 человек) с ночёвкой
        .active-checkboxes Активные: 0