+section("Лайки")
    .p-1
        +b.like._true
            +e.mark
                +e.mark-true
                +e.mark-false
            +e.number 10
    .p-1
        +b.like
            +e.mark
                +e.mark-true
                +e.mark-false
            +e.number 10
    .h5 Живой
    .p-1
        +b.like#life-like-example
            +e.mark
                +e.mark-true
                +e.mark-false
            +e.number 10