+section("Рейтинги")
    .h5 Рейтинг 0
    .p
        +b.rating
            +e.item
            +e.item
            +e.item
            +e.item
            +e.item
    .h5 Рейтинг 5
    .p
        +b.rating
            +e.item._true
            +e.item._true
            +e.item._true
            +e.item._true
            +e.item._true
    .h5 При наведении
    .p
        +b.rating
            +e.item._hover
            +e.item._hover
            +e.item._hover
            +e.item._hover
            +e.item._hover
    .h5 Живой
    .p
        +b.rating#life-example-rating
            +e.item
            +e.item
            +e.item
            +e.item
            +e.item