+section("Слайдеры")
    .p-1
        +b.slider
            +e.container
                +e.control
                    +e.point._min
                    +e.line
                    +e.point._max
    .p-1
        +b.slider#life-slider-example
            +e.container
                +e.control
                    +e.point._min
                    +e.line
                    +e.point._max