+section("Слайдеры")
    .p-1
        .p-3
            +b.slider
                +e.container
                    +e.control
                        +e.point._from
                        +e.line
                        +e.point._to
        .p-1
            .h5 Живые
            .p-3
                +b.slider#life-slider-example1
                    +e.head
                        +e.label Шаг 5%
                        +e.value 5 000 - 10 000
                    +e.container
                        +e.control
                            +e.point._from
                            +e.line
                            +e.point._to
            .p-3
                +b.slider#life-slider-example2
                    +e.head
                        +e.label Шаг 10%
                        +e.value 5 000 - 10 000
                    +e.container
                        +e.control
                            +e.point._from
                            +e.line
                            +e.point._to
            .p-3
                +b.slider#life-slider-example3
                    +e.head
                        +e.label Шаг 33%
                        +e.value 5 000 - 10 000
                    +e.container
                        +e.control
                            +e.point._from
                            +e.line
                            +e.point._to
            .p-3
                +b.slider#life-slider-example4
                    +e.head
                        +e.label Шаг 50%
                        +e.value 5 000 - 10 000
                    +e.container
                        +e.control
                            +e.point._from
                            +e.line
                            +e.point._to