+section("Переключатели")
    +b.toggle._true
        +e.control
            +e.mark
        +e.label Включенный
    +b.toggle
        +e.control
            +e.mark
        +e.label Выключенный
    +b.toggle#toggle-example
        +e.control
            +e.mark
        +e.label Живой